octava_flow.json
[{"id":"2a2a3f46.2d7348","type":"tab","label":"HDMI Matrix","disabled":false,"info":""},{"id":"4fcea536.d49b64","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput A - Input 2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["637facf2.a1fd04","7d5e6e55.4a5a38"]]},{"id":"637facf2.a1fd04","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x31,0x32,0x03])","func":"msg.payload = new Buffer([0x02,0x32,0x31,0x32,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":200,"wires":[["29386437.694994"]]},{"id":"8148dea1.2262e8","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x31,0x32,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x31,0x31,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":140,"wires":[["29386437.694994"]]},{"id":"465989d9.2edea8","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput A - Input 1","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["ee9f40a0.a93838","8148dea1.2262e8"]]},{"id":"29386437.694994","type":"tcp request","z":"2a2a3f46.2d7348","server":"192.168.102.252","port":"4003","out":"time","splitc":"222","name":"","x":1550,"y":720,"wires":[["6eae5ac0.2e3eec","be12bb05.548dd8"]]},{"id":"3c0a75be.16f1ba","type":"debug","z":"2a2a3f46.2d7348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1850,"y":780,"wires":[]},{"id":"b3737789.e6a768","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput A - Input 3","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["44a78291.fdee14","94c684e6.3eab2"]]},{"id":"44a78291.fdee14","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x31,0x33,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x31,0x33,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":260,"wires":[["29386437.694994"]]},{"id":"37f2b8af.b707e8","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput A - Input 4","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["71fcc900.4c3d","16ac0ff5.24732"]]},{"id":"71fcc900.4c3d","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x31,0x34,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x31,0x34,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":320,"wires":[["29386437.694994"]]},{"id":"6eae5ac0.2e3eec","type":"function","z":"2a2a3f46.2d7348","name":"Convert response to string","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":780,"wires":[["3c0a75be.16f1ba","3737ee98.bb6c82"]]},{"id":"ee9f40a0.a93838","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"fa70a2a3.5ca7a","order":0,"width":0,"height":0,"passthru":false,"label":"Output A input 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":120,"wires":[["8148dea1.2262e8"]]},{"id":"7d5e6e55.4a5a38","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"fa70a2a3.5ca7a","order":0,"width":0,"height":0,"passthru":false,"label":"Output A input 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":180,"wires":[["637facf2.a1fd04"]]},{"id":"94c684e6.3eab2","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"fa70a2a3.5ca7a","order":0,"width":0,"height":0,"passthru":false,"label":"Output A input 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":240,"wires":[["44a78291.fdee14"]]},{"id":"16ac0ff5.24732","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"fa70a2a3.5ca7a","order":0,"width":0,"height":0,"passthru":false,"label":"Output A input 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":300,"wires":[["71fcc900.4c3d"]]},{"id":"178b1.af8f474f5","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput B - Input 2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["d647491b.aba778","2fc6cd45.ed4ca2"]]},{"id":"d647491b.aba778","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x32,0x32,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x32,0x32,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":440,"wires":[["29386437.694994"]]},{"id":"f22938af.c4ddb8","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x32,0x31,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x32,0x31,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[["29386437.694994"]]},{"id":"624b016f.8eed6","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput B - Input 1","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["f2b1c5c5.83e578","f22938af.c4ddb8"]]},{"id":"943be73c.a9e5c8","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput B - Input 3","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["df624177.a33d4","bcd548f1.1b3e28"]]},{"id":"df624177.a33d4","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x32,0x33,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x32,0x33,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":500,"wires":[["29386437.694994"]]},{"id":"1294ae96.4f9f01","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput B - Input 4","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["2cf17609.8e963a","ee5cf6cf.3f6858"]]},{"id":"2cf17609.8e963a","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x32,0x34,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x32,0x34,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":560,"wires":[["29386437.694994"]]},{"id":"f2b1c5c5.83e578","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"d680af7a.4495f","order":0,"width":0,"height":0,"passthru":false,"label":"Output B input 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":360,"wires":[["f22938af.c4ddb8"]]},{"id":"2fc6cd45.ed4ca2","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"d680af7a.4495f","order":0,"width":0,"height":0,"passthru":false,"label":"Output B input 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":420,"wires":[["d647491b.aba778"]]},{"id":"bcd548f1.1b3e28","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"d680af7a.4495f","order":0,"width":0,"height":0,"passthru":false,"label":"Output B input 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":480,"wires":[["df624177.a33d4"]]},{"id":"ee5cf6cf.3f6858","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"d680af7a.4495f","order":0,"width":0,"height":0,"passthru":false,"label":"Output B input 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":540,"wires":[["2cf17609.8e963a"]]},{"id":"33f7e765.598768","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput C - Input 2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":680,"wires":[["a5b10e69.1a4b9","fc2cb018.f1278"]]},{"id":"a5b10e69.1a4b9","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x33,0x32,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x33,0x32,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":680,"wires":[["29386437.694994"]]},{"id":"b5b79d84.b6361","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x33,0x31,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x33,0x31,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":620,"wires":[["29386437.694994"]]},{"id":"5519de1.767a92","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput C - Input 1","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":620,"wires":[["ed26634a.b8e75","b5b79d84.b6361"]]},{"id":"732b27c1.958f48","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput C - Input 3","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["f0a8bafb.428cf8","b4545447.2c2ab8"]]},{"id":"f0a8bafb.428cf8","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x33,0x33,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x33,0x33,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":740,"wires":[["29386437.694994"]]},{"id":"73376bd3.060054","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput C - Input 4","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":800,"wires":[["fefd32ce.142f1","c0c7ddf6.0089d"]]},{"id":"fefd32ce.142f1","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x33,0x34,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x33,0x34,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":800,"wires":[["29386437.694994"]]},{"id":"ed26634a.b8e75","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"c7fbafe3.23fae","order":0,"width":0,"height":0,"passthru":false,"label":"Output C input 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":600,"wires":[["b5b79d84.b6361"]]},{"id":"fc2cb018.f1278","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"c7fbafe3.23fae","order":0,"width":0,"height":0,"passthru":false,"label":"Output C input 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":660,"wires":[["a5b10e69.1a4b9"]]},{"id":"b4545447.2c2ab8","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"c7fbafe3.23fae","order":0,"width":0,"height":0,"passthru":false,"label":"Output C input 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":720,"wires":[["f0a8bafb.428cf8"]]},{"id":"c0c7ddf6.0089d","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"c7fbafe3.23fae","order":0,"width":0,"height":0,"passthru":false,"label":"Output C input 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":780,"wires":[["fefd32ce.142f1"]]},{"id":"ab9c39bd.b21698","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput D - Input 2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":920,"wires":[["fed16818.be9ec8","599a7bcf.201844"]]},{"id":"fed16818.be9ec8","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x34,0x32,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x34,0x32,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":920,"wires":[["29386437.694994"]]},{"id":"3362f83a.100a08","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x34,0x31,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x34,0x31,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":860,"wires":[["29386437.694994"]]},{"id":"f8e557a3.db3648","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput D - Input 1","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":860,"wires":[["714097f3.a3f2a8","3362f83a.100a08"]]},{"id":"5482a0d3.d344a","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput D - Input 3","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":980,"wires":[["a415dd45.bb115","4b17f2d2.1300cc"]]},{"id":"a415dd45.bb115","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x34,0x33,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x34,0x33,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":980,"wires":[["29386437.694994"]]},{"id":"67233e2b.5c18f","type":"inject","z":"2a2a3f46.2d7348","name":"HDMI Ouput D - Input 4","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1040,"wires":[["ed6c0d5e.cf318","11068f58.523b71"]]},{"id":"ed6c0d5e.cf318","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x32,0x34,0x34,0x03]);","func":"msg.payload = new Buffer([0x02,0x32,0x34,0x34,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1040,"wires":[["29386437.694994"]]},{"id":"714097f3.a3f2a8","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"a3226682.d8029","order":0,"width":0,"height":0,"passthru":false,"label":"Output D input 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":840,"wires":[["3362f83a.100a08"]]},{"id":"599a7bcf.201844","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"a3226682.d8029","order":0,"width":0,"height":0,"passthru":false,"label":"Output D input 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":900,"wires":[["fed16818.be9ec8"]]},{"id":"4b17f2d2.1300cc","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"a3226682.d8029","order":0,"width":0,"height":0,"passthru":false,"label":"Output D input 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":960,"wires":[["a415dd45.bb115"]]},{"id":"11068f58.523b71","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"a3226682.d8029","order":0,"width":0,"height":0,"passthru":false,"label":"Output D input 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":533,"y":1020,"wires":[["ed6c0d5e.cf318"]]},{"id":"9521782c.45a2f8","type":"inject","z":"2a2a3f46.2d7348","name":"Power On","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1100,"wires":[["c6a31dd1.f84bc","cad70a81.4e7ea8"]]},{"id":"c6a31dd1.f84bc","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x30,0x30,0x35,0x03]);","func":"msg.payload = new Buffer([0x02,0x30,0x30,0x35,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1100,"wires":[["29386437.694994"]]},{"id":"43ab5de8.76e6d4","type":"inject","z":"2a2a3f46.2d7348","name":"Power Off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1160,"wires":[["cf0f905f.a347c","409f028d.4e476c"]]},{"id":"cf0f905f.a347c","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x30,0x30,0x36,0x03]);","func":"msg.payload = new Buffer([0x02,0x30,0x30,0x36,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1160,"wires":[["29386437.694994"]]},{"id":"cad70a81.4e7ea8","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"7f6cc1e7.2ac3b","order":0,"width":0,"height":0,"passthru":false,"label":"Power On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":513,"y":1080,"wires":[["c6a31dd1.f84bc"]]},{"id":"409f028d.4e476c","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"7f6cc1e7.2ac3b","order":0,"width":0,"height":0,"passthru":false,"label":"Power Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":513,"y":1140,"wires":[["cf0f905f.a347c"]]},{"id":"ab2972b1.47702","type":"inject","z":"2a2a3f46.2d7348","name":"LED On","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1220,"wires":[["efcb6226.ea739","7c4ef306.a8e76c"]]},{"id":"efcb6226.ea739","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x30,0x30,0x33,0x03]);","func":"msg.payload = new Buffer([0x02,0x30,0x30,0x33,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1220,"wires":[["29386437.694994"]]},{"id":"15a70c56.2595c4","type":"inject","z":"2a2a3f46.2d7348","name":"LED Off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1280,"wires":[["18e78832.078138","bbbe0345.a8ee3"]]},{"id":"18e78832.078138","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x30,0x30,0x34,0x03]);","func":"msg.payload = new Buffer([0x02,0x30,0x30,0x34,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1280,"wires":[["29386437.694994"]]},{"id":"7c4ef306.a8e76c","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"7f6cc1e7.2ac3b","order":0,"width":0,"height":0,"passthru":false,"label":"LED On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":513,"y":1200,"wires":[["efcb6226.ea739"]]},{"id":"bbbe0345.a8ee3","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"7f6cc1e7.2ac3b","order":0,"width":0,"height":0,"passthru":false,"label":"LED Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":513,"y":1260,"wires":[["18e78832.078138"]]},{"id":"fa43a55b.40f4a8","type":"inject","z":"2a2a3f46.2d7348","name":"Port Scan","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1340,"wires":[["8a88366e.28ea68","290ba2e6.c5995e"]]},{"id":"8a88366e.28ea68","type":"function","z":"2a2a3f46.2d7348","name":"msg.payload = new Buffer([0x02,0x30,0x30,0x31,0x03]);","func":"msg.payload = new Buffer([0x02,0x30,0x30,0x31,0x03]);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1340,"wires":[["29386437.694994"]]},{"id":"290ba2e6.c5995e","type":"ui_button","z":"2a2a3f46.2d7348","name":"","group":"7f6cc1e7.2ac3b","order":0,"width":0,"height":0,"passthru":false,"label":"Port Scan","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":513,"y":1320,"wires":[["8a88366e.28ea68"]]},{"id":"e476da60.60dc88","type":"link in","z":"2a2a3f46.2d7348","name":"Link to matrix A1","links":["46a624e.c2105dc"],"x":715,"y":80,"wires":[["8148dea1.2262e8"]]},{"id":"4ceec9b.6199338","type":"link in","z":"2a2a3f46.2d7348","name":"Link to matrix A2","links":["9234145e.5c0918"],"x":715,"y":160,"wires":[["637facf2.a1fd04"]]},{"id":"be12bb05.548dd8","type":"debug","z":"2a2a3f46.2d7348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":660,"wires":[]},{"id":"35397dd7.883512","type":"debug","z":"2a2a3f46.2d7348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":960,"wires":[]},{"id":"3737ee98.bb6c82","type":"split","z":"2a2a3f46.2d7348","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1490,"y":840,"wires":[["21feae20.08913a"]]},{"id":"21feae20.08913a","type":"switch","z":"2a2a3f46.2d7348","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":":","vt":"str"},{"t":"regex","v":"S\\d\\d\\dE","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":840,"wires":[["b13cc9a1.b0e8c"],["7a7d2105.e55918"]]},{"id":"b13cc9a1.b0e8c","type":"string","z":"2a2a3f46.2d7348","name":"Show Right Side 15 Characters","methods":[{"name":"right","params":[{"type":"num","value":"15"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1870,"y":720,"wires":[["a386571.6971728","c3500cf7.4fc8c","98bed4db.d1884","279041c4.90b386","7d7fb7d0.a3ce8","fe161a08.7e5ea","1fddf3e.8fe1d8c","bfc63214.e3da88","2043febd.813692","f39484bc.1dcac","7ba1b7bd.524778","fb1bf0cb.42dd18","70fcc7a9.91f31","4ff94176.3ecc7","ab8ddcf2.ba43b","2c7e72de.0dadfe","746631ca.1eb0d"]]},{"id":"c3500cf7.4fc8c","type":"debug","z":"2a2a3f46.2d7348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1850,"y":520,"wires":[]},{"id":"a386571.6971728","type":"change","z":"2a2a3f46.2d7348","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"110121111110101","fromt":"str","to":"A1234","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":620,"wires":[["c3500cf7.4fc8c"]]},{"id":"7a7d2105.e55918","type":"change","z":"2a2a3f46.2d7348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":900,"wires":[["35397dd7.883512"]]},{"id":"a9542a51.7a044","type":"ui_gauge","z":"2a2a3f46.2d7348","name":"","group":"d40f98df.f81d8","order":4,"width":"3","height":"3","gtype":"donut","title":"Output 4","label":"","format":"{{value}}","min":0,"max":"4","colors":["#00B500","#E6E600","#CA3838"],"seg1":"1","seg2":"2","x":2400,"y":680,"wires":[]},{"id":"98bed4db.d1884","type":"string","z":"2a2a3f46.2d7348","name":"Right 1","methods":[{"name":"right","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":120,"wires":[["b0f6d92e.614908"]]},{"id":"83f9c08.37e054","type":"debug","z":"2a2a3f46.2d7348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2930,"y":620,"wires":[]},{"id":"279041c4.90b386","type":"string","z":"2a2a3f46.2d7348","name":"Right 2","methods":[{"name":"right","params":[{"type":"num","value":"2"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":180,"wires":[["5ebc5903.a84888"]]},{"id":"77db382c.aca438","type":"ui_gauge","z":"2a2a3f46.2d7348","name":"","group":"d40f98df.f81d8","order":3,"width":"3","height":"3","gtype":"donut","title":"Output 3","label":"","format":"{{value}}","min":0,"max":"4","colors":["#00B500","#E6E600","#CA3838"],"seg1":"1","seg2":"2","x":2400,"y":780,"wires":[]},{"id":"4770a360.a3d15c","type":"ui_gauge","z":"2a2a3f46.2d7348","name":"","group":"d40f98df.f81d8","order":2,"width":"3","height":"3","gtype":"donut","title":"Output 2","label":"","format":"{{value}}","min":0,"max":"4","colors":["#00B500","#E6E600","#CA3838"],"seg1":"1","seg2":"2","x":2400,"y":880,"wires":[]},{"id":"d2da0635.564f58","type":"ui_gauge","z":"2a2a3f46.2d7348","name":"","group":"d40f98df.f81d8","order":1,"width":"3","height":"3","gtype":"donut","title":"Output 1","label":"","format":"{{value}}","min":0,"max":"4","colors":["#00B500","#E6E600","#CA3838"],"seg1":"1","seg2":"2","x":2400,"y":980,"wires":[]},{"id":"7d7fb7d0.a3ce8","type":"string","z":"2a2a3f46.2d7348","name":"Right 3","methods":[{"name":"right","params":[{"type":"num","value":"3"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":240,"wires":[["6c211646.7a78d8"]]},{"id":"fe161a08.7e5ea","type":"string","z":"2a2a3f46.2d7348","name":"Right 4","methods":[{"name":"right","params":[{"type":"num","value":"4"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":300,"wires":[["2c00e180.e7222e"]]},{"id":"1fddf3e.8fe1d8c","type":"string","z":"2a2a3f46.2d7348","name":"Right 5","methods":[{"name":"right","params":[{"type":"num","value":"5"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":360,"wires":[["feab902d.2c74c8"]]},{"id":"bfc63214.e3da88","type":"string","z":"2a2a3f46.2d7348","name":"Right 6","methods":[{"name":"right","params":[{"type":"num","value":"6"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":440,"wires":[["6adfb059.628218"]]},{"id":"2043febd.813692","type":"string","z":"2a2a3f46.2d7348","name":"Right 7","methods":[{"name":"right","params":[{"type":"num","value":"7"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":540,"wires":[["26d0271a.d521"]]},{"id":"b0f6d92e.614908","type":"debug","z":"2a2a3f46.2d7348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2390,"y":120,"wires":[]},{"id":"6adfb059.628218","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":440,"wires":[["83f9c08.37e054"]]},{"id":"26d0271a.d521","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":540,"wires":[["83f9c08.37e054"]]},{"id":"feab902d.2c74c8","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":360,"wires":[["83f9c08.37e054"]]},{"id":"2c00e180.e7222e","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":300,"wires":[["83f9c08.37e054"]]},{"id":"6c211646.7a78d8","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":240,"wires":[["83f9c08.37e054"]]},{"id":"5ebc5903.a84888","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":180,"wires":[["83f9c08.37e054"]]},{"id":"f39484bc.1dcac","type":"string","z":"2a2a3f46.2d7348","name":"Right 8","methods":[{"name":"right","params":[{"type":"num","value":"8"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":620,"wires":[["5964382e.4c8d7"]]},{"id":"7ba1b7bd.524778","type":"string","z":"2a2a3f46.2d7348","name":"Right 9","methods":[{"name":"right","params":[{"type":"num","value":"9"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":720,"wires":[["564745e3.80723c"]]},{"id":"fb1bf0cb.42dd18","type":"string","z":"2a2a3f46.2d7348","name":"Right 10","methods":[{"name":"right","params":[{"type":"num","value":"10"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":820,"wires":[["198d38af.8ec29f"]]},{"id":"70fcc7a9.91f31","type":"string","z":"2a2a3f46.2d7348","name":"Right 11","methods":[{"name":"right","params":[{"type":"num","value":"11"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":920,"wires":[["94e97626.26b76"]]},{"id":"4ff94176.3ecc7","type":"string","z":"2a2a3f46.2d7348","name":"Right 12","methods":[{"name":"right","params":[{"type":"num","value":"12"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":1040,"wires":[["fe7be116.c0a288"]]},{"id":"ab8ddcf2.ba43b","type":"string","z":"2a2a3f46.2d7348","name":"Right 13","methods":[{"name":"right","params":[{"type":"num","value":"13"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":1120,"wires":[["ae632bf.8535f58"]]},{"id":"2c7e72de.0dadfe","type":"string","z":"2a2a3f46.2d7348","name":"Right 14","methods":[{"name":"right","params":[{"type":"num","value":"14"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":1200,"wires":[["e8e2b463.d24288"]]},{"id":"746631ca.1eb0d","type":"string","z":"2a2a3f46.2d7348","name":"Right 15","methods":[{"name":"right","params":[{"type":"num","value":"15"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2200,"y":1280,"wires":[["7bdb5f5f.4be9e8"]]},{"id":"5964382e.4c8d7","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":620,"wires":[["83f9c08.37e054","a9542a51.7a044"]]},{"id":"564745e3.80723c","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":720,"wires":[["77db382c.aca438","83f9c08.37e054"]]},{"id":"198d38af.8ec29f","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":820,"wires":[["4770a360.a3d15c","83f9c08.37e054"]]},{"id":"94e97626.26b76","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":920,"wires":[["d2da0635.564f58","83f9c08.37e054"]]},{"id":"fe7be116.c0a288","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":1040,"wires":[["83f9c08.37e054"]]},{"id":"ae632bf.8535f58","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":1120,"wires":[["83f9c08.37e054"]]},{"id":"e8e2b463.d24288","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":1200,"wires":[["83f9c08.37e054"]]},{"id":"7bdb5f5f.4be9e8","type":"string","z":"2a2a3f46.2d7348","name":"Left 1","methods":[{"name":"left","params":[{"type":"num","value":"1"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2410,"y":1280,"wires":[["83f9c08.37e054"]]},{"id":"fa70a2a3.5ca7a","type":"ui_group","z":"","name":"Pioneer TV (Lounge)","tab":"f186d1fd.116118","order":1,"disp":true,"width":"6","collapse":false},{"id":"d680af7a.4495f","type":"ui_group","z":"","name":"Samsung TV (Conservatory)","tab":"f186d1fd.116118","order":2,"disp":true,"width":"6","collapse":false},{"id":"c7fbafe3.23fae","type":"ui_group","z":"","name":"LG (Bedroom TV)","tab":"f186d1fd.116118","order":3,"disp":true,"width":"6","collapse":false},{"id":"a3226682.d8029","type":"ui_group","z":"","name":"Unused TV (Unknown)","tab":"f186d1fd.116118","order":4,"disp":true,"width":"6","collapse":false},{"id":"7f6cc1e7.2ac3b","type":"ui_group","z":"","name":"Octava HDMI Matrix","tab":"f186d1fd.116118","order":5,"disp":true,"width":"6","collapse":false},{"id":"d40f98df.f81d8","type":"ui_group","z":"","name":"Matrix Status","tab":"f186d1fd.116118","order":6,"disp":true,"width":"12","collapse":false},{"id":"f186d1fd.116118","type":"ui_tab","z":"","name":"Matrix","icon":"dashboard","order":2}]
